<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Parallelism" value="4"/>

    
    <add key="User" value=""/>
    <add key="Pass" value=""/>
    <add key="MaxThreadPage" value="50"/>
    <add key="License" value=""/>
    <add key="SwitchAll" value="true"/>
    <add key="Title" value="HWZ Crawler"/>
    <add key="RequireLogin" value="0"/>
    <add key="Regex" value="\b(?:https?://|www\.)\S+\b"/>
    <add key="ThreadLink" value="https://forums.hardwarezone.com.sg/eat-drink-man-woman-16/{0}-{1}.html"/>
    <add key="Domains" value="imgur.com" />
    <add key="Bodies" value="gpgt{N}xmm" />
    <add key="IgnoreDomains" value="-regina-kam-saga-continues-{N}-official-barclays-premier-{N}jiaqiwoo-part-2-a-{N}depression-chit-chat-support-" />
    <add key="IgnoreBodies" value=""/>
    <add key="FirstPage" value="1"/>
    <add key="ScriptPrefix" value="HWZ_"/>
    <add key="GotNext" value="&lt;li class=&quot;prevnext&quot;&gt;"/>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>